.pro {
    background-image: linear-gradient(360deg, #091242 -11.11%, rgba(9, 18, 66, 0) 90.28%), url(../../image/project-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 504px;
    position: relative;
}

.project-text {
    background-color: #fff;
    width: 80%;
    height: 502px;
    position: absolute; 
    left: 10rem;
    right: 15rem;
    top: 60%;
    padding: 5rem; 
    color: #1C1F35; 
}

.project {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem; 
}

.project-desc {
    width: 472px;
}

.sub-title {
    width: 6.4rem;
    border-left: 2px solid rgb(226, 194, 12);
    background-color: rgba(232, 232, 232, 0.5);
    padding: .1rem;
}

.sub-title h6 {
    margin-left: .6rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Rubik';
}

.titles {
    width: 472px;
    margin-top: 1rem;
}

.titles h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    font-family: 'Rubik';
}

.desc {
    width: 464px;
    margin-top: 1rem;
}

.desc p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2rem;
    color: #666C89;
    font-family: 'Krub';
}

.zealand img {
    width: 350px;
}

.lady img {
    width: 250px;
    margin-top: -5rem;
    margin-left: -7rem;
}

.project-type {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.project-type h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.project-type:last-child {
    margin-top: 1rem;
}
