.works {
    height: 759px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),
    rgb(250, 250, 250),
    rgb(255, 142, 4));
    color: #1c1f35;
}

.work-details {
    text-align: center;
    margin-top: 3rem;
}

.work-desc {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.work-desc-detail {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 407.91px;
    width: 320.17px;
    background-blend-mode: multiply;
}

.work-details h4{
    font-weight: 600;
    font-size: 3.5rem;
    text-transform: capitalize;

}
.details1 {
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0), rgba(9, 18, 66, 1)
    ), url(../../image/tanker.png);
}

.details2 {
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0), rgba(9, 18, 66, 1)
    ), url(../../image/store-keeper.png);
}

.details3 {
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0), rgba(9, 18, 66, 1)
    ), url(../../image/trailer.png);
}
.details4 {
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0), rgba(9, 18, 66, 1)
    ), url(../../image/ship.png);
}
.details5 {
    background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0), rgba(9, 18, 66, 1)
    ), url(../../image/container.png);
}

.work-text {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    margin-left: 1.8rem;
    gap: .2rem;
    
}

.work-text h5 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #fff;
    text-transform: capitalize;
}

.work-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFB629;
    text-transform: capitalize;
}

.works-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 3rem; */
    background-color: rgba(9, 18, 66, 1);
    width: 194px;
    height: 60px;
    margin-left: 50rem;
    margin-top: 3rem;
}

.works-btn a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}